<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.holmusk.flutter_pushy">

  <!-- Pushy permissions -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- End Pushy Permissions -->

  <uses-permission android:name="android.permission.VIBRATE" />

  <application>
    
    <!-- Pushy Declarations -->
    
    <receiver android:name="PushReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="pushy.me" />
      </intent-filter>
    </receiver>

    <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
      </intent-filter>
    </receiver>

    <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
    </intent-filter>
    </receiver>

    <service android:name="me.pushy.sdk.services.PushySocketService"/>

    <service android:name="me.pushy.sdk.services.PushyJobService"
      android:permission="android.permission.BIND_JOB_SERVICE"
      android:exported="true" />

    <!-- End Pushy Declarations -->
  </application>
</manifest>
